<a href="https://colab.research.google.com/github/gelso2210/CS_course/blob/main/fifa_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

In [29]:
'''
    Replace Value and Wage with actual numbers
    Check if there are any missing values
    Which teams have the most players?
    Which team pays the largest total wages?
    Which team pays the largest average wage?
    How many players have exactly one preferred position?
    How many players have at least three preferred positions?
    Which are 20 most paid players that have exactly one preferred position?
'''

'\n    Replace Value and Wage with actual numbers\n    Check if there are any missing values\n    Which teams have the most players?\n    Which team pays the largest total wages?\n    Which team pays the largest average wage?\n    How many players have exactly one preferred position?\n    How many players have at least three preferred positions?\n    Which are 20 most paid players that have exactly one preferred position?\n'

In [30]:
compl_df= pd.read_csv("CompleteDataset.csv")
player_df= pd.read_csv("PlayerAttributeData.csv")
pers_player_df= pd.read_csv("PlayerPersonalData.csv")
pos_player_df= pd.read_csv("PlayerPlayingPositionData.csv")

<ipython-input-30-be3a8799d1d7>:1: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  compl_df= pd.read_csv("CompleteDataset.csv")
<ipython-input-30-be3a8799d1d7>:2: DtypeWarning: Columns (11,24) have mixed types. Specify dtype option on import or set low_memory=False.
  player_df= pd.read_csv("PlayerAttributeData.csv")

1. Convert to real number

In [31]:

def human_to_int(s :str)-> int:
  s=s.replace("€","")
  if "M" in s:
    multiplier= 1000000
  elif "K" in s:
    multiplier= 1000
  else:
    multiplier=1
  return int(float(s[:-1])*multiplier)



print(human_to_int("€565K"))
print(human_to_int("€5.6M"))
print(human_to_int("€56M"))

565000
5600000
56000000

In [32]:
import re

def human_to_int(s :str)-> int:
  m= re.search(r".([\d\.]+)([KMG]?)", s)   #".[\d\.]+"          \d+(\.\d+)?
  if m.group(2)=='M':
    mult= 1000000
  elif m.group(2)=='K':
    mult= 1000
  else:
    mult= 1
  return int(float(m.group(1))*mult)


print(human_to_int("€565K"))
print(human_to_int("€5.6M"))
print(human_to_int("€56M"))
print(human_to_int("€0"))

pers_player_df["Value"]=pers_player_df["Value"].apply(human_to_int)
pers_player_df["Wage"]=pers_player_df["Wage"].apply(human_to_int)
pers_player_df.head()

565000
5600000
56000000
0

,Unnamed: 0.1,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special
0,0,0,20801,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,95500000,565000,2228
1,1,1,158023,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,105000000,565000,2154
2,2,2,190871,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,123000000,280000,2100
3,3,3,176580,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,97000000,510000,2291
4,4,4,167495,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,61000000,230000,1493

2. Check missing values

In [57]:
mask=  compl_df.isna().sum(axis=1)>0
compl_df[mask]

,Unnamed: 0,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
4,4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,De Gea,26,https://cdn.sofifa.org/48/18/players/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,90,92,Manchester United,https://cdn.sofifa.org/24/18/teams/11.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,T. Courtois,25,https://cdn.sofifa.org/48/18/players/192119.png,Belgium,https://cdn.sofifa.org/flags/7.png,89,92,Chelsea,https://cdn.sofifa.org/24/18/teams/5.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,G. Buffon,39,https://cdn.sofifa.org/48/18/players/1179.png,Italy,https://cdn.sofifa.org/flags/27.png,89,89,Juventus,https://cdn.sofifa.org/24/18/teams/45.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,J. Oblak,24,https://cdn.sofifa.org/48/18/players/200389.png,Slovenia,https://cdn.sofifa.org/flags/44.png,88,93,Atlético Madrid,https://cdn.sofifa.org/24/18/teams/240.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17945,17945,A. Dillon,20,https://cdn.sofifa.org/48/18/players/233646.png,Republic of Ireland,https://cdn.sofifa.org/flags/25.png,48,61,Blackburn Rovers,https://cdn.sofifa.org/24/18/teams/3.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17949,17949,M. McElhinney,19,https://cdn.sofifa.org/48/18/players/233432.png,Republic of Ireland,https://cdn.sofifa.org/flags/25.png,48,60,Derry City,https://cdn.sofifa.org/24/18/teams/445.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17951,17951,M. Hurst,21,https://cdn.sofifa.org/48/18/players/221669.png,Scotland,https://cdn.sofifa.org/flags/42.png,48,58,St. Johnstone FC,https://cdn.sofifa.org/24/18/teams/100804.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17976,17976,A. Kelsey,17,https://cdn.sofifa.org/48/18/players/237463.png,England,https://cdn.sofifa.org/flags/14.png,46,63,Scunthorpe United,https://cdn.sofifa.org/24/18/teams/1949.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,17977,B. Richardson,47,https://cdn.sofifa.org/48/18/players/11728.png,England,https://cdn.sofifa.org/flags/14.png,46,46,Wycombe Wanderers,https://cdn.sofifa.org/24/18/teams/1933.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
print(compl_df.isna().sum())
print(player_df.isna().sum())
print(pers_player_df.isna().sum())
print(pos_player_df.isna().sum())
print("NULL VALUES ************************")
print(compl_df.isnull().sum() )
print(player_df.isnull().sum())
print(pers_player_df.isnull().sum())
print(pos_player_df.isnull().sum())

Unnamed: 0        0
Name              0
Age               0
Photo             0
Nationality       0
               ...
RM             2029
RS             2029
RW             2029
RWB            2029
ST             2029
Length: 75, dtype: int64
Unnamed: 0            0
Acceleration          0
Aggression            0
Agility               0
Balance               0
Ball control          0
Composure             0
Crossing              0
Curve                 0
Dribbling             0
Finishing             0
Free kick accuracy    0
GK diving             0
GK handling           0
GK kicking            0
GK positioning        0
GK reflexes           0
Heading accuracy      0
ID                    0
Interceptions         0
Jumping               0
Long passing          0
Long shots            0
Marking               0
Penalties             0
Positioning           0
Reactions             0
Short passing         0
Shot power            0
Sliding tackle        0
Sprint speed          0
Stamina               0
Standing tackle       0
Strength              0
Vision                0
Volleys               0
dtype: int64
Unnamed: 0.1      0
Unnamed: 0        0
ID                0
Name              0
Age               0
Photo             0
Nationality       0
Flag              0
Overall           0
Potential         0
Club            248
Club Logo         0
Value             0
Wage              0
Special           0
dtype: int64
Unnamed: 0                0
CAM                    2029
CB                     2029
CDM                    2029
CF                     2029
CM                     2029
ID                        0
LAM                    2029
LB                     2029
LCB                    2029
LCM                    2029
LDM                    2029
LF                     2029
LM                     2029
LS                     2029
LW                     2029
LWB                    2029
Preferred Positions       0
RAM                    2029
RB                     2029
RCB                    2029
RCM                    2029
RDM                    2029
RF                     2029
RM                     2029
RS                     2029
RW                     2029
RWB                    2029
ST                     2029
dtype: int64
NULL VALUES ************************
Unnamed: 0        0
Name              0
Age               0
Photo             0
Nationality       0
               ...
RM             2029
RS             2029
RW             2029
RWB            2029
ST             2029
Length: 75, dtype: int64
Unnamed: 0            0
Acceleration          0
Aggression            0
Agility               0
Balance               0
Ball control          0
Composure             0
Crossing              0
Curve                 0
Dribbling             0
Finishing             0
Free kick accuracy    0
GK diving             0
GK handling           0
GK kicking            0
GK positioning        0
GK reflexes           0
Heading accuracy      0
ID                    0
Interceptions         0
Jumping               0
Long passing          0
Long shots            0
Marking               0
Penalties             0
Positioning           0
Reactions             0
Short passing         0
Shot power            0
Sliding tackle        0
Sprint speed          0
Stamina               0
Standing tackle       0
Strength              0
Vision                0
Volleys               0
dtype: int64
Unnamed: 0.1      0
Unnamed: 0        0
ID                0
Name              0
Age               0
Photo             0
Nationality       0
Flag              0
Overall           0
Potential         0
Club            248
Club Logo         0
Value             0
Wage              0
Special           0
dtype: int64
Unnamed: 0                0
CAM                    2029
CB                     2029
CDM                    2029
CF                     2029
CM                     2029
ID                        0
LAM                    2029
LB                     2029
LCB                    2029
LCM                    2029
LDM                    2029
LF                     2029
LM                     2029
LS                     2029
LW                     2029
LWB                    2029
Preferred Positions       0
RAM                    2029
RB                     2029
RCB                    2029
RCM                    2029
RDM                    2029
RF                     2029
RM                     2029
RS                     2029
RW                     2029
RWB                    2029
ST                     2029
dtype: int64

3. Which teams have the most players?

In [69]:
compl_df["Club"].value_counts().sort_values(ascending=False).head(20)

Club
Villarreal CF                35
UD Las Palmas                34
Manchester United            34
Olympique Lyonnais           34
OGC Nice                     34
FC Nantes                    34
Borussia Dortmund            34
VfL Wolfsburg                34
Newcastle United             33
FC Augsburg                  33
Bournemouth                  33
Hamburger SV                 33
Stoke City                   33
RC Deportivo de La Coruña    33
Chelsea                      33
AS Monaco                    33
Málaga CF                    33
Crystal Palace               33
ES Troyes AC                 33
Brighton & Hove Albion       33
Name: count, dtype: int64

In [74]:
pers_player_df["Club"].value_counts().sort_values(ascending=False).head(20)

Club
Villarreal CF                35
UD Las Palmas                34
Manchester United            34
Olympique Lyonnais           34
OGC Nice                     34
FC Nantes                    34
Borussia Dortmund            34
VfL Wolfsburg                34
Newcastle United             33
FC Augsburg                  33
Bournemouth                  33
Hamburger SV                 33
Stoke City                   33
RC Deportivo de La Coruña    33
Chelsea                      33
AS Monaco                    33
Málaga CF                    33
Crystal Palace               33
ES Troyes AC                 33
Brighton & Hove Albion       33
Name: count, dtype: int64

3. Which team pays the largest total wages?

In [88]:
pers_player_df.groupby("Club")["Wage"].sum().sort_values(ascending=False).head(20)

Club
FC Barcelona           4792000
Real Madrid CF         4751000
Manchester United      3653000
Chelsea                3537000
FC Bayern Munich       3273000
Juventus               3165000
Manchester City        3152000
Arsenal                3007000
Liverpool              2664000
Everton                2499000
Paris Saint-Germain    2198000
Tottenham Hotspur      2179000
West Ham United        1935000
Milan                  1814000
Borussia Dortmund      1705000
Southampton            1689000
Napoli                 1624000
Roma                   1618000
Atlético Madrid        1581000
Leicester City         1423000
Name: Wage, dtype: int64

4. Which team pays the largest average wage?

In [90]:
pers_player_df.groupby("Club")["Wage"].mean().sort_values(ascending=False).head(20)

Club
FC Barcelona           191680.000000
Real Madrid CF         182730.769231
FC Bayern Munich       125884.615385
Juventus               121730.769231
Manchester United      107441.176471
Chelsea                107181.818182
Manchester City         95515.151515
Arsenal                 91121.212121
Liverpool               83250.000000
Paris Saint-Germain     78500.000000
Everton                 75727.272727
Tottenham Hotspur       68093.750000
Milan                   62551.724138
Napoli                  62461.538462
West Ham United         60468.750000
Roma                    59925.925926
Inter                   53440.000000
Southampton             51181.818182
Borussia Dortmund       50147.058824
Atlético Madrid         49406.250000
Name: Wage, dtype: float64

5. How many players have exactly one preferred position?