<a href="https://colab.research.google.com/github/gelso2210/CS_course/blob/main/fifa_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
'''
    Replace Value and Wage with actual numbers
    Check if there are any missing values
    Which teams have the most players?
    Which team pays the largest total wages?
    Which team pays the largest average wage?
    How many players have exactly one preferred position?
    How many players have at least three preferred positions?
    Which are 20 most paid players that have exactly one preferred position?
'''

'\n    Replace Value and Wage with actual numbers\n    Check if there are any missing values\n    Which teams have the most players?\n    Which team pays the largest total wages?\n    Which team pays the largest average wage?\n    How many players have exactly one preferred position?\n    How many players have at least three preferred positions?\n    Which are 20 most paid players that have exactly one preferred position?\n'

In [51]:
compl_df= pd.read_csv("CompleteDataset.csv")
player_df= pd.read_csv("PlayerAttributeData.csv")
pers_player_df= pd.read_csv("PlayerPersonalData.csv")
pos_player_df= pd.read_csv("PlayerPlayingPositionData.csv")

<ipython-input-51-be3a8799d1d7>:1: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  compl_df= pd.read_csv("CompleteDataset.csv")
<ipython-input-51-be3a8799d1d7>:2: DtypeWarning: Columns (11,24) have mixed types. Specify dtype option on import or set low_memory=False.
  player_df= pd.read_csv("PlayerAttributeData.csv")

In [52]:
pers_player_df.Value

0        €95.5M
1         €105M
2         €123M
3          €97M
4          €61M
          ...
17976      €50K
17977        €0
17978      €60K
17979      €60K
17980      €50K
Name: Value, Length: 17981, dtype: object

In [60]:
from ast import ExtSlice
def human_to_int(s :str)-> int:
  s=s.replace("€","")
  if "M" in s:
    multiplier= 1000000
  elif "K" in s:
    multiplier= 1000
  else:
    multiplier=1
  return int(float(s[:-1])*multiplier)



print(human_to_int("€565K"))
print(human_to_int("€5.6M"))
print(human_to_int("€56M"))

565000
5600000
56000000

In [61]:
import re

def human_to_int(s :str)-> int:
  m= re.search(r".([\d\.]+)([KMG])", s)   #".[\d\.]+"          \d+(\.\d+)?
  if m.group(2)=='M':
    mult= 1000000
  elif m.group(2)=='K':
    mult= 1000
  else:
    mult= 1
  return int(float(m.group(1))*mult)


print(human_to_int("€565K"))
print(human_to_int("€5.6M"))
print(human_to_int("€56M"))

pers_player_df["Value"]=pers_player_df["Value"].apply(human_to_int)
pers_player_df.head()

565000
5600000
56000000

AttributeError: 'NoneType' object has no attribute 'group'