<a href="https://colab.research.google.com/github/gelso2210/CS_course/blob/main/fifa_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
'''
    Replace Value and Wage with actual numbers
    Check if there are any missing values
    Which teams have the most players?
    Which team pays the largest total wages?
    Which team pays the largest average wage?
    How many players have exactly one preferred position?
    How many players have at least three preferred positions?
    Which are 20 most paid players that have exactly one preferred position?
'''

'\n    Replace Value and Wage with actual numbers\n    Check if there are any missing values\n    Which teams have the most players?\n    Which team pays the largest total wages?\n    Which team pays the largest average wage?\n    How many players have exactly one preferred position?\n    How many players have at least three preferred positions?\n    Which are 20 most paid players that have exactly one preferred position?\n'

In [4]:
compl_df= pd.read_csv("CompleteDataset.csv")
player_df= pd.read_csv("PlayerAttributeData.csv")
pers_player_df= pd.read_csv("PlayerPersonalData.csv")
pos_player_df= pd.read_csv("PlayerPlayingPositionData.csv")

<ipython-input-4-be3a8799d1d7>:1: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  compl_df= pd.read_csv("CompleteDataset.csv")
<ipython-input-4-be3a8799d1d7>:2: DtypeWarning: Columns (11,24) have mixed types. Specify dtype option on import or set low_memory=False.
  player_df= pd.read_csv("PlayerAttributeData.csv")

In [5]:
pers_player_df.Value

0        €95.5M
1         €105M
2         €123M
3          €97M
4          €61M
          ...
17976      €50K
17977        €0
17978      €60K
17979      €60K
17980      €50K
Name: Value, Length: 17981, dtype: object

In [6]:
pers_player_df["Value2"]= str(pers_player_df["Value"])

In [7]:
pers_player_df.Value.str.extract("([\d.])")

       0
0      9
1      1
2      1
3      9
4      6
...   ..
17976  5
17977  0
17978  6
17979  6
17980  5

[17981 rows x 1 columns]

In [12]:
def human_to_int(s :str)-> int:
  n=s
  n=n.replace("€","")
  print(s, n)

print(human_to_int("€50K"))

€50K 50K
None